{{ ansible_managed }}
AZKABAN_DIR={{ azkaban_exec_server_install_dir }}

AZKABAN_OPTS=-Xmx{{ azkaban_exec_server_xmx }} \
-Dlog4j.configuration=file:{{ azkaban_exec_server_conf_dir }}/log4j.properties \
-Dlog4j.log.dir={{ azkaban_exec_server_log_dir }} \
-server -Dcom.sun.management.jmxremote \
-Djava.io.tmpdir=/tmp \
-Dexecutorport={{ azkaban_exec_server_port }} \
-Dserverpath={{ azkaban_exec_server_install_dir }}

AZKABAN_CONF=-conf {{ azkaban_exec_server_conf_dir }}
